# Root level .gitignore

# Backend
/backend/
/.vs/kompas-obrazovanja/FileContentIndex/0ba932c0-8fa6-423d-8a18-365b80fa84d0.vsidx
/.vs/kompas-obrazovanja/FileContentIndex
/.vs/kompas-obrazovanja/v17/DocumentLayout.backup.json
/.vs/kompas-obrazovanja/v17/.wsuo
